.backup
*.jpg
*.png
*.iso
*.so
*.wbfs
*.sfc
*.spm
*.m3u
*.ogg
*.frag
*.comp
*.vert
*.geom
*.rvz
*.vb
*.ws
*.smc
*.zip
*.plist
*.pem
*.tsv
*.otr
*.pce
*.nes
*.nds
*.z64
*.lst
*.md
*.sms
*.gbc
*.gb
*.gba
*.gg
*.ciso
*.swf
*.fds
*.lutro
*.html
*.exe
*.as
*.txt
*.rtf
*.bmp
*.assets
*.a26
*.d64
*.cdi

